<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>839944795758-92o83hadk3td7eefoo1c18ee3lfcv2in.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.839944795758-92o83hadk3td7eefoo1c18ee3lfcv2in</string>
	<key>API_KEY</key>
	<string>AIzaSyCg-_lywIrrqEyuTtbvMV-B-Ccvsbf_V-k</string>
	<key>GCM_SENDER_ID</key>
	<string>839944795758</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>trust.noti-vixonic</string>
	<key>PROJECT_ID</key>
	<string>vixonic-32aed</string>
	<key>STORAGE_BUCKET</key>
	<string>vixonic-32aed.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:839944795758:ios:b14c1cf129be40336d987f</string>
	<key>DATABASE_URL</key>
	<string>https://vixonic-32aed.firebaseio.com</string>
</dict>
</plist>